/* header*/
#header {
    min-height: 50px;
    background-color: #fff8ed;

}

/* header navba*/
.navbar {

    height: 30px;
    background-color: #d1c1ef;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar__login {
    display: flex;
    margin-top: -0.5px;
    padding-right: 40px;
    list-style: none;
    justify-content: right;
}

.navbar__login-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2 rem;
}

.navbar__login-item--login {
    text-decoration: none;
    background-color: transparent;
    border: none;

}

.fa-circle-user {
    margin-top: 3px;
    font-size: 20px;
    color: #4e256ded;
}

/* header search*/
.search {
    margin-top: 30px;
    padding-top: 15px;
}

.item_Search {
    display: flex;
    justify-content: space-around;
}

.navbar__login-item:hover,
.navbar__login-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.search__left {
    display: inline-flex;
}

.search__menu-vertical--icon {
    text-decoration: none;
    background-color: transparent;
    border: none;


}

.fa-bars {
    font-size: 42px;
    color: #551a8b;
}

.search__logo {
    margin-left: -10px;
}

.search__item {
    display: flex;
    border: 4px solid #000;
    width: 40%;
    height: 60px;
    justify-content: space-between;
    border-radius: 50px;
}

.item--input {
    margin-left: 10px;
    padding: 12px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;

}

.item--input:hover {
    cursor: pointer;
    color: #a681e9;
}

.fa-magnifying-glass {
    justify-content: center;
    margin-right: 5px;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 5px;
    padding: 12px 10px;

}

.fa-instagram,
.fa-facebook,
.fa-square-twitter,
.fa-envelope,
.fa-tiktok {
    margin-top: 5px;
    font-size: 35px;
    padding-left: 10px;
    color: #4e256ded;
}



/* header menu*/
.menu-horizontal {
    margin-top: 20px;
    border-bottom: 2px solid black;

}

element.style {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.menu__dad {
    display: flex;
    margin-top: -1px;
    padding-right: 40px;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin: 0 50px;


}

.menu__dad-item {
    margin-bottom: 3px;
    padding: 3px 0;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    position: relative;

}

.home strong {
    font-size: 1.2rem;
    color: rgba(84, 34, 34, 0.5);
}

ul.menu__dad a::after {

    content: "";
    height: 5px;
    width: 0;
    background-color: #551a8b;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

ul.menu__dad a:hover::after {
    width: 50%;
    transform: translateX(100%);
}

.menu__dad-item:hover {
    cursor: pointer;
    color: rgba(84, 34, 34, 0.5);
}

/* slideshow trang chủ */
#slide {
    background-color: #fff;

}

.slide-load {
    animation: slide 5s;
}

.silde-home {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    padding-top: 30%;
    animation: slide 20s infinite;
    min-height: 400px;
}

.slide__content {

    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
}

.slide__content--center {
    width: 610px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.slide__content--centertext p {
    font-size: 1.4rem;
    line-height: 30px;
}

@keyframes slide {
    0% {
        background-image: url('/assets/img/slideHome/11.png');

    }

    20% {
        background-image: url('/assets/img/slideHome/11.png');

    }

    20.001% {
        background-image: url('/assets/img/slideHome/22.png');
    }

    40% {
        background-image: url('/assets/img/slideHome/22.png');

    }

    40.001% {
        background-image: url('/assets/img/slideHome/33.png');
    }

    60% {
        background-image: url('/assets/img/slideHome/33.png');

    }

    60.001% {
        background-image: url('/assets/img/slideHome/4.png');
    }

    80% {
        background-image: url('/assets/img/slideHome/4.png');

    }

    80.001% {
        background-image: url('/assets/img/slideHome/5.png');
    }

    100% {
        background-image: url('/assets/img/slideHome/5.png');

    }


}






/* container trên */
#container {
    background-color: #fff8ed;
    border-bottom: 2px solid #333;
    padding-bottom: 50px;

}

.content-bottom {
    border-bottom: 2px solid #333;
}

.content-top__center:hover {
    cursor: pointer;

}

.content-top__center {
    text-align: center;
    margin: auto 0px auto 70px;


}

.content-top__center-text {
    margin-top: 45px;
    color: #fff;
    min-width: 30px;
    max-width: 300px;
    min-height: 20px;
    text-align: left;
    font-weight: 500;
}

.content-top__more {
    margin-top: 490px;
    margin-right: 40px;
    min-width: 100px;
    height: 35px;
    background-color: #f0d0b9;
    border-radius: 50px;
    display: flex;
    justify-content: right;


}

.content-top__more-readmore {
    text-align: center;
    padding-top: 20px;
    padding: 5px 20px;
    color: #000000;
    text-decoration: none;

}

/* container dưới*/

.content-bottom__item {
    display: flex;
    justify-content: space-betwee;
}

/* container dưới item trái*/
.item__left {
    margin: 10px auto 20px auto;
    flex: 2;
    margin-right: 40px;
    border-right: 2px solid #333;
}

/* container dưới item trái new*/
.item__left-new {
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

.item__left-new--navbar {
    display: flex;
    justify-content: space-between;

}

.new-navbar__title {
    margin-left: 20px;
    font-size: 1.3rem;
}


.fa-1,
.fa-2,
.fa-3 {
    color: #000;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 15px;
    border: 2px solid #000;
    border-radius: 50px;
}

.fa-arrow-right {
    color: #000;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 20px;
}

.item__left-new--frame {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;


}

.item__left-new--frame-1 {
    min-width: 200px;

    background-color: #d1c1ef;
    text-align: center;
    padding: 10px 30px;
    margin-left: 20px;
    flex: 1;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    margin-right: 20px;
}
.item__left-new--frame-1 img:hover{
    border: 3px solid #a681e9;
    cursor: pointer;
}
.item__left-new--frame-2 {
    min-width: 200px;
    margin-left: 20px;
    flex: 1;
    margin-right: 20px;
    background-color: #d1c1ef;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
}
.item__left-new--frame-2 img:hover{
    border: 3px solid #a681e9;
    cursor: pointer;
}
.frame+.frame {

    margin-top: 10px;
}

/* container dưới item trái post*/
.item__left-post {
    margin-top: 10px;

}

.item__left-post {
    margin-top: 20px;
    display: flex;

}

.item__left-post--title {

    padding: 30px 12px 10px 12px;
    flex: 1;
    background-color: #d1c1ef;
    text-align: center;
}

.item__left-post--title p {
    font-size: 1.2rem;
}

.item__left-post--frame1 {
    flex: 1;
    padding: 30px 12px 10px 12px;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575)),
        url("/assets/img/hot\ makeup.png");
    background-size: 100%;
    background-repeat: repeat-x;
    Background-size: cover;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.item__left-post--frame2 {
    flex: 1;
    padding: 30px 12px 10px 12px;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575)),
        url("/assets/img/Woman\ day.png");
    background-size: 100%;
    background-repeat: repeat-x;
    Background-size: cover;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.item__left-post--frame3 {
    flex: 1;
    padding: 30px 12px 10px 12px;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575), rgba(83, 79, 79, 0.575)),
        url("/assets/img/body.png");
    background-size: 100%;
    background-repeat: repeat-x;
    Background-size: cover;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

h4 {
    font-size: 1.2rem;
}


/* container dưới item phải*/
.item__right {
    flex: 1;
    flex-direction: column;
    margin-top: 5px;

}


.item__right-navbar {
    font-size: 1.3rem;
    text-align: right;
    margin-right: 5px;
}



.item__right-trend {
    background-color: #d1c1ef;
    margin-top: 30px;
    margin-bottom: 30px;

}

/* container dưới item phải Jennie*/
.trend__jennie {
    display: flex;

}



.trend__jennie--background {
    margin-left: 30px;
    margin-top: 10px;
    max-width: 210px;
    min-height: 270px;
    background-image: url("/assets/img/jennie.png");
    background-size: 100%;
    background-repeat: repeat-x;
    Background-size: cover;
    text-align: center;
    margin-bottom: 30px;
}

.trend__jennie--title {
    margin-top: 40px;
    text-align: center;
    padding: 0px 20px;
    padding-right: 30px;
    width: 220px;
    background-color: #f0d0b9;
    margin-left: 70%;
}

.trend__jennie--title p {
    font-size: 1.1rem;
    color: #000;
}


.trend__jennie--more {

    margin-left: 25px;
    min-width: 100px;
    min-height: 35px;
    border: 3px solid black;
    display: flex;
    justify-content: right;
    margin-top: 220px;

}
.trend__jennie--more:hover{
    background-color: rgba(89, 28, 135, 0.3);
}
.trend__jennie--readmore {
    text-align: center;
    padding-top: 20px;
    padding: 5px 10px;
    color: #000000;
    text-decoration: none;

}

/* container dưới item phải Hòa Minzy*/
.trend__minzy {

    display: flex;
}

.container-search__left {
    flex: 1;
}

.trend__minzy--background {
    margin-left: 30px;
    margin-bottom: 10px;
    max-width: 210px;
    min-height: 295px;
    background-image: url(/assets/img/jisooo.jpg);
    background-size: 100%;
    background-repeat: repeat-x;
    Background-size:c  cover;
    text-align: center;
}

.trend__minzy--title {
    margin-top: 40px;
    text-align: center;
    padding: 0px 20px;
    padding-right: 30px;
    width: 220px;
    background-color: #f0d0b9;
    margin-left: 70%;

}

.trend__minzy--more {

    margin-left: 25px;
    min-width: 100px;
    min-height: 35px;
    border: 3px solid black;
    display: flex;
    justify-content: right;
    margin-top: 200px;

}
.trend__minzy--more :hover{
    background-color: rgba(89, 28, 135, 0.3);
}
.trend__minzy--readmore {
    text-align: center;
    padding-top: 20px;
    padding: 5px 10px;
    color: #000000;
    text-decoration: none;

}

.trend__minzy--title p {
    font-size: 1.1rem;
    color: #000;
}

/*tìm kiếm hàng đầu*/
.container-search{
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.container-search__titel h3 {
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container-search__dad {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

}

.container-search__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
    padding-top: 550px;
    animation: search__side--img 15s infinite;
    min-height: 300px;
}

.container-search__slide--load {
    animation: search__side--img 5s;
}

.container-search__slide--content {
    width: 100%;
    height: 100%;
}

@keyframes search__side--img {
    0% {
        background-image: url('/assets/img/trang_chu/tìm\ kiem.jpg');
        margin-left: 0;
    }

    20% {
        background-image: url('/assets/img/trang_chu/tìm\ kiem.jpg');

    }

    20.001% {
        background-image: url('/assets/img/trang_chu/tìm\ kiếm\ 1.jpg');
    }

    40% {
        background-image: url('/assets/img/trang_chu/tìm\ kiếm\ 1.jpg');

    }

    40.001% {
        background-image: url('/assets/img/trang_chu/tim\ kiem2.jfif');
    }

    60% {
        background-image: url('/assets/img/trang_chu/tim\ kiem2.jfif');

    }

    60.001% {
        background-image: url('/assets/img/trang_chu/tim\ kiem3.jfif');
    }

    80% {
        background-image: url('/assets/img/trang_chu/tim\ kiem3.jfif');

    }

    80.001% {
        background-image: url('/assets/img/trang_chu/tim\ kiem\ 4.jfif');
    }

    100% {
        background-image: url('/assets/img/trang_chu/tim\ kiem\ 4.jfif');

    }
}

.container-search__right {

    flex: 2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}

.container-search__right i {
    margin-top: 20px;
    background-color: #d1c1ef;
    border-radius: 50px;
    width: 46px;
    height: 46px;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
}

.fa-chevron-right {
    right: 0;

}

.fa-chevron-left {
    left: 0;
}

.container-search__right--carousel {
    display: flex;
    max-width: 740px;

}

.container-search__right .container-search__right--carousel {
    font-size: 0px;
    cursor: pointer;

    overflow: hidden;
    scroll-behavior: smooth;


}

.container-search__right--item {

    height: 40%;
    margin-left: 20px;

}

.cuoi {
    margin-right: 20px;
}

.container-search__right--item img {
    width: 227px;
    height: calc(550px/2.05);
    object-fit: cover;
}

.container-search__right--item img:first-child {
    box-sizing: border-box;
    margin-left: 0;
}

.container-search__right--item img:hover{
    border: 3px solid #a681e9;
    cursor: pointer;
}


/*container những nhãn hàng*/
.container-brand h4 {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-brand--item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.slide-inner {
    display: flex;
 
    
}

.slide-item {
    width: 170px;
    height: 350px;
}

.slide-item img {
    width: 100%;
    height: 50%;
}

.slide-item img:hover{
    border: 3px solid #a681e9;
    cursor: pointer;
}

/*Footer*/
#footer {
    background-color: #edeae9;
}

.footer-item {
    display: flex;
    justify-content: space-between;
}

/*Footer-left*/
.footer-left {
    margin: 0px auto 20px auto;
    margin-right: 40px;
    flex: 2;
    border-right: 2px solid #333;

}

.footer-left__logo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-left__info {
    background-color: #d1c1ef;

}

.footer-left__info-list {
    display: flex;
    justify-content: space-around;
    margin-left: -100px;
    margin-right: 30px;
}

.footer-left__info-list--item {
    display: flex;
    font-size: 1.2rem;
}

.footer-left__info-list--item,
.item {
    color: #000;
    text-align: center;
    margin: auto;
    margin-right: 10px;
}

.footer-left__Quick {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.footer-left__Quick--item {
    line-height: 15px;
    text-align: center;
}

.footer-left__Quick--item h3,
.footer-left__Quick--item {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
.footer-left__Quick p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.footer-left__slogan {
    background-color: #d1c1ef;
    padding: 2px 30px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

.footer-left__end {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}


.footer-left__end-right {
    display: flex;

}

.footer-left__end-right a {
    text-align: center;
    margin: auto;


}

/*Footer-right*/

.footer-right {
    margin-top: 20px;
    flex: 1;
}

.footer-right__titel {
    margin: 0px 10px;

}

.footer-right__titel h2 {
    font-size: 2.2rem;
    text-align: center;
    line-height: 30px;
    color: #ec7200;
    font-family: 'Times New Roman', Times, serif;
}

.footer-right__contact h5 {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-bottom: 8px;
}

.footer-right__input {
    margin-left: 10px;
    border: 2px solid #333;
    border-radius: 50px;
    max-width: 380px;
    min-height: 60px;
    font-size: 1.2rem;
}

.message {
    min-height: 180px;
}

.footer-right__input--item {
    margin-left: 10px;
    padding: 12px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;

}

.footer-right__input:hover {
    cursor: pointer;
    color: #a681e9;
}

.footer-right-end {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.footer-right-end__send {


    margin: 30px 0px 20px 30px;
    padding: 5px 10px;
    border: 2px solid #333;
    max-width: 80px;
    min-height: 40px;
    text-align: center;

}

.footer-right-end__send--sizeM {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

/*Menu dọc--js*/
.menuJS {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.menuJS.open {
    display: flex;
}



.menu {
    min-width: 270px;
    min-height: 400px;
    position: fixed;
    top: 100px;
    background-color: #d1c1ef;

    animation: menufadeIn ease .5s;
}


.menu-vertical {
    text-align: center;
    margin: auto;
}

.menu-vertical__item {
    color: #333;
    margin: auto;
    border-bottom: 2px solid #5d5a5a;
    text-align: center;
    padding: 25px 20px;
    line-height: 32px;


}

.menu__item--content {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Times New Roman', Times, serif;

}

.menu__item--content:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

@keyframes menufadeIn {
    from {
        transform: translate(-100px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }

}

/*from login*/
.login,
.signIn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.login.open-from {
    display: flex;
}

.signIn.open-signIn {
    display: flex;
}

.from-login,
.from-signIn {
    background-color: #d1c1ef;
    min-width: 50%;
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    padding: 30px 48px;
}

.from-signIn {
    max-height: 90%;
}

.from-close {
    display: flex;
    justify-content: right;
}

.fa-xmark {
    font-size: 30px;
}

.from-login h2,
.from-signIn h2 {
    margin: 0 120px;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.from-signIn__post {
    padding: 0 40px;
    box-sizing: border-box;
    margin: auto;
}

.from-login__post--line {

    border-top: 2px solid #333;
}

.from-login__post--or {
    text-align: center;
    margin: auto;
    max-width: 70px;
    min-width: 50px;
    margin-top: -15px;
    background-color: #d1c1ef;
    font-size: 1.2rem;
}

input[type=text],
input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    border-radius: 30px;
    box-sizing: border-box;
}

.from-login__post--submit button,
.from-login__post--register button {

    background-color: #F0D0B9;
    color: black;
    padding: 10px 20px;

    border-radius: 30px;
    cursor: pointer;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

.from-login__post--submit {

    display: flex;
    justify-content: center;
    margin: 10px 100px;

}


.from-login__post--submit:hover {
    opacity: 0.8;
}

.from-social__login {
    display: flex;
    justify-content: center;
}

.from-social__login--facebook {
    text-decoration: none;
}

.div_from-social__login--google {
    padding: 5px;
    margin: 5px 20px;
    background-color: rgba(150, 7, 7, 0.802);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;

}

.from-social__login--google {

    text-decoration: none;
    color: #d1c1ef;
}

.fa-google {
    font-size: 25px;
}



.from-signIn--or_btn {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;

}

.from-login__post--register {
    display: flex;

    margin: 5px 30px;
}

.list-gender {
    margin: 5px;
    font-weight: 600;

}




.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}